@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    background: linear-gradient(107.86deg, #5900FF 0%, #00A4FF 100%)no-repeat;
    height: 100vh;
    width: 100%;
    color: white;
}
.center h2{
    display: block;
    margin: auto 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins';
}
.header {
    display: block;
    margin: 0;
    width: 150px;
    box-shadow: none;
    background-color: #ffffff;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    border-bottom-right-radius: 5px;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: white;
    border-top-right-radius: 15px;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid rgba(153, 153, 153, 0.1);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
    
}
.sidebarMenuInner li a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner li a:hover{
    opacity: 0.5;
    transition: 0.25s;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.center{
    justify-content: left;
    text-align: left;
    display: flex;
    margin-left: 180px;
}
.center a{
    transition: 0.5s;
    text-decoration:none; 
    color: rgb(255, 255, 255); 
    font-family: 'poppins'; 
    font-weight: 500;
    margin-top: 10px;
}
.center a:hover{
    text-decoration: underline;
}
.center button{
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 7px;
    backdrop-filter: blur(10px);
}
.center h1{
    margin-top: 50px;
    font-size: 40px;
}
button.btn{
    width: 400px;
    height: 79px;
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(7.456px);
}
.btnConnect{
    background: rgb(18, 230, 11);
    color: black;
}
.Connect{
    font-family: 'poppins';
    font-size: 35px;
    margin-top: 12px;
    margin-left: 80px;
}
.btn img{
    position: absolute;
    display: inline-block;
    margin-left: -180px;
    margin-top: -6px;
}
.install{
    width: 294px;
    height: 70px;
    background: rgba(255, 255, 255, 0.269);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(7.456px);
    border-radius: 7px;
}
.Connect2{
    font-family: 'poppins';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
}
.vector{
    position: absolute;
    left: 74.15%;
    right: 1.15%;
    top: 30.34%;
    bottom: 6.98%;
}
.center p{
    font-size: 18px;
}
.fuse{
    position: absolute;
    width: 504.88px;
    height: 513.88px;
    transform: rotate(-7.9deg);
}
.metamask{
    position: absolute;
    width: 60px;
}
.downloadicon{
    width: 90px;
    position: absolute;
    margin-top: -10px;
}
::-webkit-scrollbar{
    width: 0;
}

@media only screen and (max-width: 720px) {
        body{
            padding: 0;
            margin: 0;
        }
        .center h1{
            margin-left: -150px;
            font-size: 20px;
        }
        .center p{
            margin-left: -150px;
            font-size: 15px;
        }
        button.btn{
            position: absolute;
            width: 200px;
            height: 60px;
            background: rgba(255, 255, 255, 0.26);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(7.456px);
            margin-left: -150px;
        }
        .Connect{
            position: absolute;
            font-family: 'poppins';
            font-size: 20px;
            top: 7px;
            left: 185px;
        }
        .fuse{
            position: absolute;
            width: 244.88px;
            height: 243.88px;
            transform: rotate(-7.9deg);
            margin-left: -170px;
            margin-top: 30px;
        }
        .vector{
            position: absolute;
            left: 57.95%;
            right: 1.15%;
            top: 69.34%;
            bottom: 0.98%;
            width: 42%;
        }
        .metamask{
            position: absolute;
            top: 14px;
            width: 30px;
            left: 185px;
        }
        .install{
            position: absolute;
            width: 164px;
            height: 60px;
            top: 465px;
            left: 30px;
        }
        .downloadicon{
            visibility: hidden;
        }
        .Connect2{
            position: absolute;
            left: 160px;
        }
  }